# Virtual environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyTorch models
*.pth
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Temporary files
*.swp
*.bak
